In [14]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
import tensorflow as tf
import os
config = tf.compat.v1.ConfigProto()
config.gpu_options.allow_growth = True
session = tf.compat.v1.Session(config=config)

2024-01-04 14:02:02.145733: I external/local_xla/xla/stream_executor/cuda/cuda_executor.cc:901] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero. See more at https://github.com/torvalds/linux/blob/v6.0/Documentation/ABI/testing/sysfs-bus-pci#L344-L355
2024-01-04 14:02:02.145925: I external/local_xla/xla/stream_executor/cuda/cuda_executor.cc:901] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero. See more at https://github.com/torvalds/linux/blob/v6.0/Documentation/ABI/testing/sysfs-bus-pci#L344-L355
2024-01-04 14:02:02.146031: I external/local_xla/xla/stream_executor/cuda/cuda_executor.cc:901] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero. See more at https://github.com/torvalds/linux/blob/v6.0/Documentation/ABI/testing/sysfs-bus-pci#L344-L355
2024-01-04 14:02:02.146165: I external/local_xla/xla/stream_executor/cuda/cuda_executor.cc:901] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero. See more at https://github.com/torvalds/linux/blob/v6.0/Documentation/ABI/testing/sysfs-bus-pci#L344-L355
2024-01-04 14:02:02.146306: I external/local_xla/xla/stream_executor/cuda/cuda_executor.cc:901] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero. See more at https://github.com/torvalds/linux/blob/v6.0/Documentation/ABI/testing/sysfs-bus-pci#L344-L355
2024-01-04 14:02:02.146380: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1929] Created device /job:localhost/replica:0/task:0/device:GPU:0 with 2093 MB memory:  -> device: 0, name: NVIDIA GeForce GTX 1650 SUPER, pci bus id: 0000:01:00.0, compute capability: 7.5

In [15]:
data = pd.read_csv('Disease_symptom_and_patient_profile_dataset.csv')

In [16]:
data

,Disease,Fever,Cough,Fatigue,Difficulty Breathing,Age,Gender,Blood Pressure,Cholesterol Level,Outcome Variable
0,Influenza,Yes,No,Yes,Yes,19,Female,Low,Normal,Positive
1,Common Cold,No,Yes,Yes,No,25,Female,Normal,Normal,Negative
2,Eczema,No,Yes,Yes,No,25,Female,Normal,Normal,Negative
3,Asthma,Yes,Yes,No,Yes,25,Male,Normal,Normal,Positive
4,Asthma,Yes,Yes,No,Yes,25,Male,Normal,Normal,Positive
...,...,...,...,...,...,...,...,...,...,...
344,Stroke,Yes,No,Yes,No,80,Female,High,High,Positive
345,Stroke,Yes,No,Yes,No,85,Male,High,High,Positive
346,Stroke,Yes,No,Yes,No,85,Male,High,High,Positive
347,Stroke,Yes,No,Yes,No,90,Female,High,High,Positive
348,Stroke,Yes,No,Yes,No,90,Female,High,High,Positive

In [17]:
label_encoder = LabelEncoder()
data['Disease'] = label_encoder.fit_transform(data['Disease'])
data['Fever'] = label_encoder.fit_transform(data['Fever'])
data['Cough'] = label_encoder.fit_transform(data['Cough'])
data['Fatigue'] = label_encoder.fit_transform(data['Fatigue'])
data['Difficulty Breathing'] = label_encoder.fit_transform(data['Difficulty Breathing'])
data['Gender'] = label_encoder.fit_transform(data['Gender'])
data['Blood Pressure'] = label_encoder.fit_transform(data['Blood Pressure'])
data['Blood Pressure'] = label_encoder.fit_transform(data['Blood Pressure'])
data['Cholesterol Level'] = label_encoder.fit_transform(data['Cholesterol Level'])
data['Outcome Variable'] = label_encoder.fit_transform(data['Outcome Variable'])

In [18]:
X = data.drop(columns=['Outcome Variable'])
y = data['Outcome Variable']

In [19]:
X

,Disease,Fever,Cough,Fatigue,Difficulty Breathing,Age,Gender,Blood Pressure,Cholesterol Level
0,56,1,0,1,1,19,0,1,2
1,24,0,1,1,0,25,0,2,2
2,37,0,1,1,0,25,0,2,2
3,6,1,1,0,1,25,1,2,2
4,6,1,1,0,1,25,1,2,2
...,...,...,...,...,...,...,...,...,...
344,101,1,0,1,0,80,0,0,0
345,101,1,0,1,0,85,1,0,0
346,101,1,0,1,0,85,1,0,0
347,101,1,0,1,0,90,0,0,0
348,101,1,0,1,0,90,0,0,0

In [20]:
y

0      1
1      0
2      0
3      1
4      1
      ..
344    1
345    1
346    1
347    1
348    1
Name: Outcome Variable, Length: 349, dtype: int64

In [21]:
import tensorflow as tf
import torch

# Check TensorFlow version
print("TensorFlow version: ", tf.__version__)

# Check CUDA version
print("CUDA version: ", torch.version.cuda)

TensorFlow version:  2.15.0
CUDA version:  12.1

In [22]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
os.environ['TF_FORCE_GPU_ALLOW_GROWTH'] = 'true'

In [23]:
model = tf.keras.Sequential([
    tf.keras.layers.Dense(64, activation='relu', input_shape=(X_train.shape[1],)),
    tf.keras.layers.Dense(32, activation='relu'),
    tf.keras.layers.Dense(1, activation='sigmoid')
])

model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

In [26]:
model.fit(X_train, y_train, epochs=30, batch_size=32, validation_data=(X_test, y_test))

Epoch 1/30
9/9 [==============================] - 0s 7ms/step - loss: 0.6293 - accuracy: 0.6810 - val_loss: 0.6643 - val_accuracy: 0.5714
Epoch 2/30
9/9 [==============================] - 0s 4ms/step - loss: 0.6260 - accuracy: 0.6989 - val_loss: 0.6486 - val_accuracy: 0.6286
Epoch 3/30
9/9 [==============================] - 0s 4ms/step - loss: 0.6227 - accuracy: 0.6667 - val_loss: 0.6535 - val_accuracy: 0.6000
Epoch 4/30
9/9 [==============================] - 0s 4ms/step - loss: 0.6229 - accuracy: 0.6989 - val_loss: 0.6644 - val_accuracy: 0.5571
Epoch 5/30
9/9 [==============================] - 0s 4ms/step - loss: 0.6159 - accuracy: 0.7240 - val_loss: 0.6543 - val_accuracy: 0.6143
Epoch 6/30
9/9 [==============================] - 0s 4ms/step - loss: 0.6209 - accuracy: 0.7061 - val_loss: 0.6500 - val_accuracy: 0.6286
Epoch 7/30
9/9 [==============================] - 0s 4ms/step - loss: 0.6132 - accuracy: 0.6703 - val_loss: 0.6629 - val_accuracy: 0.5714
Epoch 8/30
9/9 [==============================] - 0s 4ms/step - loss: 0.6131 - accuracy: 0.6918 - val_loss: 0.6602 - val_accuracy: 0.6143
Epoch 9/30
9/9 [==============================] - 0s 4ms/step - loss: 0.6144 - accuracy: 0.6703 - val_loss: 0.6527 - val_accuracy: 0.6286
Epoch 10/30
9/9 [==============================] - 0s 4ms/step - loss: 0.6077 - accuracy: 0.7312 - val_loss: 0.6667 - val_accuracy: 0.5714
Epoch 11/30
9/9 [==============================] - 0s 4ms/step - loss: 0.6090 - accuracy: 0.6523 - val_loss: 0.6581 - val_accuracy: 0.5857
Epoch 12/30
9/9 [==============================] - 0s 4ms/step - loss: 0.6163 - accuracy: 0.6953 - val_loss: 0.6527 - val_accuracy: 0.6286
Epoch 13/30
9/9 [==============================] - 0s 4ms/step - loss: 0.6260 - accuracy: 0.6667 - val_loss: 0.6720 - val_accuracy: 0.5571
Epoch 14/30
9/9 [==============================] - 0s 4ms/step - loss: 0.6108 - accuracy: 0.6989 - val_loss: 0.6613 - val_accuracy: 0.5714
Epoch 15/30
9/9 [==============================] - 0s 4ms/step - loss: 0.6042 - accuracy: 0.6882 - val_loss: 0.6516 - val_accuracy: 0.6429
Epoch 16/30
9/9 [==============================] - 0s 4ms/step - loss: 0.5928 - accuracy: 0.7097 - val_loss: 0.6654 - val_accuracy: 0.6000
Epoch 17/30
9/9 [==============================] - 0s 4ms/step - loss: 0.6014 - accuracy: 0.7204 - val_loss: 0.6613 - val_accuracy: 0.5857
Epoch 18/30
9/9 [==============================] - 0s 4ms/step - loss: 0.6038 - accuracy: 0.7133 - val_loss: 0.6580 - val_accuracy: 0.5857
Epoch 19/30
9/9 [==============================] - 0s 4ms/step - loss: 0.6010 - accuracy: 0.6882 - val_loss: 0.6544 - val_accuracy: 0.5714
Epoch 20/30
9/9 [==============================] - 0s 4ms/step - loss: 0.5929 - accuracy: 0.7168 - val_loss: 0.6557 - val_accuracy: 0.5714
Epoch 21/30
9/9 [==============================] - 0s 4ms/step - loss: 0.5975 - accuracy: 0.6703 - val_loss: 0.6647 - val_accuracy: 0.5857
Epoch 22/30
9/9 [==============================] - 0s 4ms/step - loss: 0.6120 - accuracy: 0.6846 - val_loss: 0.6687 - val_accuracy: 0.6429
Epoch 23/30
9/9 [==============================] - 0s 4ms/step - loss: 0.6018 - accuracy: 0.6810 - val_loss: 0.6774 - val_accuracy: 0.5857
Epoch 24/30
9/9 [==============================] - 0s 4ms/step - loss: 0.5923 - accuracy: 0.7097 - val_loss: 0.6591 - val_accuracy: 0.6714
Epoch 25/30
9/9 [==============================] - 0s 4ms/step - loss: 0.6058 - accuracy: 0.6989 - val_loss: 0.6614 - val_accuracy: 0.5714
Epoch 26/30
9/9 [==============================] - 0s 4ms/step - loss: 0.5988 - accuracy: 0.7097 - val_loss: 0.6643 - val_accuracy: 0.5429
Epoch 27/30
9/9 [==============================] - 0s 4ms/step - loss: 0.5845 - accuracy: 0.7025 - val_loss: 0.6676 - val_accuracy: 0.5571
Epoch 28/30
9/9 [==============================] - 0s 4ms/step - loss: 0.5847 - accuracy: 0.7384 - val_loss: 0.6649 - val_accuracy: 0.5857
Epoch 29/30
9/9 [==============================] - 0s 4ms/step - loss: 0.5884 - accuracy: 0.6846 - val_loss: 0.6572 - val_accuracy: 0.5714
Epoch 30/30
9/9 [==============================] - 0s 4ms/step - loss: 0.5877 - accuracy: 0.7276 - val_loss: 0.6619 - val_accuracy: 0.5857

In [27]:
[print(i.shape, i.dtype) for i in model.inputs]
[print(o.shape, o.dtype) for o in model.outputs]
[print(l.name, l.input_shape, l.dtype) for l in model.layers]

(None, 9) <dtype: 'float32'>
(None, 1) <dtype: 'float32'>
dense_3 (None, 9) float32
dense_4 (None, 64) float32
dense_5 (None, 32) float32

[None, None, None]

In [32]:
# Convert X_train and y_train to numpy arrays
X_train = np.asarray(X_train)
y_train = np.asarray(y_train)

# Reshape X_train and y_train if necessary
X_train = np.expand_dims(X_train, -1)
y_train = np.expand_dims(y_train, -1)

Sequences = X_train.copy()  # replace with actual data if not correct
Targets = y_train.copy()
Sequences = np.expand_dims(Sequences, -1)
Targets = np.expand_dims(Targets, -1)

In [34]:
X_train=np.asarray(X_train).astype('str')

y_train=np.asarray(y_train).astype(int)